*{
  box-sizing: border-box;
  margin: 0px;
  padding: 5px;
}

header{
  background-color:rgb(194, 88, 194) ;
  margin-bottom: 5px;
  font-family: 'Source Serif Pro', serif;
  height: auto;

}


header a{
  font-family: 'Source Serif Pro', serif; 
  text-decoration: none;
  font-weight: 300;
  color:black;
  background-color: rgb(188, 195, 234);
  border-radius: 5%;
}



h1{
  font-family: 'Source Serif Pro', serif;
  text-align: center;
  font-size: 10vh;
}
  

main{
  background:linear-gradient(rgb(194, 88, 194),blue);
  /* background: linear-gradient(to right, blue, pink); */
  width: 100%;
  height: auto;

}

.cards{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  
}


.remeras{
  display: flex;
  height: auto;
  width: 30%;
  margin: 10px;

}

  .remeras a{
  text-decoration: none;
  color: black;
}
.contenedor-img{
  overflow: hidden;
  }
.remeras .img{
  width: 100%;
  overflow: hidden;

}

.remeras a:hover{
  text-decoration: underline;
}

.remeras:hover .img{
  transform: scale(1.5);
}

p{
  font-family: 'Source Serif Pro', serif;
  font-weight: 400;
  background-color: rgb(188, 195, 234);
  background-blend-mode: color;
  text-align: center;

}

footer{
  background-color: blue;
  height: 15%;
  margin-top: 5px;
 
}

h3{
  width: 100%;
  text-align: center;
  color:white;
  font-family: 'Source Serif Pro', serif;
  
}
.redes{
display: flex;
align-items: center;
justify-content: center;
}


.fa-brands{
  color: aliceblue ;
  background-color:rgb(25, 153, 216);
  border-radius: 50%;
  
}
.iconos:hover{
  transform: scale(1.2);
}