html{
    background:linear-gradient(rgb(194, 88, 194),blue);
}

*{
    
    box-sizing: border-box;
    margin: 0px;
    padding: 5px;
}

header{
    
    margin-bottom: 5px;
    font-family: 'Source Serif Pro', serif;
    height: auto;
}

header a{
    font-family: 'Source Serif Pro', serif; 
    text-decoration: none;
    font-weight: 300;
    color:black;
    background-color: rgb(188, 195, 234);
    border-radius: 5%;
}

h1{
    font-family: 'Source Serif Pro', serif;
    text-align: center;
    font-size: 10vh;
}

main{
    height:70vh;
    
    width: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 20px;
}


h3{
    font-family: 'Source Serif Pro', serif;
    text-align: center;
    font-size: 3vh;
    padding-top:10px;
    width: 100%;
    color:white;
}


form{
    font-family: 'Source Serif Pro', serif;
    font-weight: 400;
    font-size: 2vh;
    background-color: rgb(188, 195, 234);
    background-blend-mode: color;
    text-align: center;
    padding: 10px;
}


label {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 300px;
    line-height: 26px;
    margin-bottom: 10px;
}

input {    
    margin-left: 10px;
}


button {
    border: none;
    background: #6c7ee6; 
    color: #fff;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease; 
}

button:hover{
    color: black;
    border: #ff7a59 solid 1px;
    background:#455569;
}


footer{
    
    height: 15%;
    margin-top: 5px;
   
  }
  
  
  .redes{
  display: flex;
  align-items: center;
  justify-content: center;
  }
  
  
  .fa-brands{
    color: aliceblue ;
    background-color:rgb(25, 153, 216);
    border-radius: 50%;
    
  }
  .iconos:hover{
    transform: scale(1.2);
  }

.oculto{
    display: none;
}

h4{
    font-family: 'Source Serif Pro', serif;
    font-weight: 400;
    font-size: 2vh;
    background-color: rgb(188, 195, 234);
    background-blend-mode: color;
    text-align: center;
    padding: 10px;
}

.mensaje-gracias{
    font-size: 3vh;
    color:white;
}

.volver-inicio{
    font-family: 'Source Serif Pro', serif;
    font-weight: 400;
    font-size: 2vh;
    background-color: rgb(188, 195, 234);
    background-blend-mode: color;
    text-align: center;
    padding: 10px;
    text-align:center;
    display:block;
}